body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #054687;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  
  form {
    background-color: #ebdada;
    padding: 20px;
  border-radius: 10px;
    box-shadow: 0 4px 12px rgba(32, 18, 18, 0.1);
  }
  
  fieldset {
    border: #032033;
    margin-bottom: 20px;
  }
  
  legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2980b9;
  }
  

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #34495e;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    background-color: #2980b9;
    color: #fff;
    padding: 12px;
    font-size: 1rem;
  border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #809db1;
  }

  
  #resume-Display {
    max-width: 600px;
    margin:auto;
    padding: 20px;
    background-color: #cad8dc;
    border-radius: 8px;
    border: 2px solid #2e6093;
    box-shadow: 0 4px 8px rgba(rgb(26, 22, 22), green, blue);

  }
  
  #resume-Display h2 {
    color: #09121b;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .resume-D p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
